/* CSS Reset */
/* ================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
body,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  line-height: 1.5;

  /* colors */
  --clr-background-white: hsl(0, 100%, 100%);
  --clr-button-blue: #4333ff;
  --clr-button-red: #ff3333;
  --clr-text-black: #041329;
  --clr-text-white: hsl(0, 100%, 100%);
  --clr-background-black: hsl(0, 100%, 0%);
  --clr-border: #e5e5e5;

  /* padding */
  --padding-button-top-bottom: 8px;
  --padding-button-left-right: 16px;
}

html {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  /* line-height: 1.15; */
}

body {
  width: 100%;
  min-height: 686px;
  background-color: var(--clr-background-white);
  color: var(--clr-paragraph-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  min-height: 686px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================== */
/* End of CSS Reset */

/****** HOME PAGE******/
/* Header */
/* ===================== */

header {
  width: 100%;
  max-width: 1500px;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-page {
  width: 100%;
  min-height: 686px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 100vw;
  height: 100vh;
  z-index: 150;
  background-color: rgb(170, 232, 159);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidebar a {
  text-decoration: none;
  color: var(--clr-text-black);
}

.about-sidebar,
.services-sidebar {
  cursor: pointer;
}

.links-sidebar {
  height: 40vh;
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-menu-list {
  list-style: none;
  border: 2px solid #e4e4e4;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-btn {
  font-size: 30px;
  color: red;
  position: absolute;
  cursor: pointer;
  top: 5%;
  left: 80%;
}

.close {
  display: none;
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 10; */
  width: 100%;
  /* max-width: 1450px; */
  background-color: var(--clr-background-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
}

.top-address-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(94, 90%, 16%);
}

.top-address-center {
  width: 97%;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.top-address-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.top-address-contact > span {
  font-size: 12px;
}

.logo-links-center {
  width: 97%;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.midas-logo-container {
  width: 12%;
  height: 95%;
}

.midas-logo {
  display: block;
  width: 100%;
  height: auto;
}

.search-bar {
  width: 14%;
  display: flex;
  padding: 5px;
  border: 3px solid var(--clr-border);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.search-term {
  width: 90%;
  outline: none;
  border: none;
}

.links-bar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 80px; */
}

.home-link {
  background: linear-gradient(
    to right,
    rgba(110, 248, 7, 1) 54%,
    rgba(64, 146, 4, 1)
  );
  padding-inline: 4px;
}

.page-link > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--clr-text-black);
}

.page-link .home-link {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.page-link {
  position: relative;
}

.dropdown-menu {
  background-color: #e4e4e4;
  /* padding: 5px; */
  position: absolute;
  top: 24px;
  left: 0;
  display: none;
}

.dropdown-menu a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  color: var(--clr-text-black);
  font-size: 14px;
}

.dropdown-menu li:hover {
  background-color: #ddf1a5;
}

.page-link:hover .dropdown-menu {
  display: block;
}

.dropup-icon {
  display: none;
}
.page-link:hover .dropup-icon {
  display: block;
}

.page-link:hover .dropdown-icon {
  display: none;
}

.menu-list {
  min-width: 250px;
  list-style-type: none;
}

.justify-icon {
  display: none;
}
/* ===================== */
/* End of Header */

/* Landing Page */
/* ============================== */

.landing-page {
  width: 100%;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 600px;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  /* background: url(./assets/city-photo2.jpg) center/cover; */
}

.image1 {
  transform: translateX(0);
}

.image2 {
  transform: translateX(100%);
}

.image3 {
  transform: translateX(200%);
}

.slider-photo1 {
  object-position: bottom;
}

.slider-photo2 {
  object-fit: fill;
  object-position: top;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #041329;
  opacity: 0.25;
  /* z-index: 100; */
}

.text-button-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  color: var(--clr-text-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.slider-heading {
  width: 40%;
  text-align: center;
  color: #fff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.slider-sub-heading {
  width: 30%;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.slider-button {
  border: none;
  /* border-radius: 10px; */
  cursor: pointer;
  background-color: rgba(110, 248, 7, 1);
  padding: var(--padding-button-top-bottom) var(--padding-button-left-right);
}

.slider-button a {
  text-decoration: none;
  color: var(--clr-text-white);
  font-weight: 600;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2%;
}

.services-container {
  width: 100%;
  min-height: 500px;
  max-width: 1500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dots {
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dot-left,
.dot-right {
  width: 10px;
  height: 10px;
  background-color: #53b508;
  border-radius: 50%;
}

.services-heading {
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  /* color: #a9ce4d; */
}

.services-list {
  width: 95%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.services-paragraph {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.service {
  width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: justify;
  border: 1px solid var(--clr-border);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 16px;
  background-color: var(--clr-border);
  box-shadow: 13px 6px 41px -14px rgba(68, 154, 4, 1);
}

.service1-image-container,
.service2-image-container {
  width: 100%;
  min-height: 100px;
}

.service1-image,
.service2-image {
  width: 100%;
  height: auto;
}

/* .service1-underline {
  width: 95%;
  height: 1px;
  background-color: #409204;
}
.service2-underline {
  width: 95%;
  height: 1px;
  background-color: #409204;
} */

.service-button {
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: none;
  color: #409204;
  /* background-color: #a9ce4d; */
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.service-empower-section-container {
  width: 100%;
  min-height: 500px;
  max-width: 1500px;
  margin-top: 30px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.service-empower-image-container {
  width: 40%;
  min-height: 400px;
}

.service-empower-photo {
  width: 100%;
  height: auto;
}

.service-empower-writeup-container {
  width: 40%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.service-empower-button {
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: linear-gradient(
    to right,
    rgba(110, 248, 7, 1) 54%,
    rgba(64, 146, 4, 1)
  );
  color: var(--clr-text-white);
  font-weight: bold;
  border: none;
}

.service-button a {
  text-decoration: none;
  color: #409204;
  font-weight: bold;
}

.service-empower-button a {
  text-decoration: none;
  color: var(--clr-text-white);
  font-weight: bold;
}

.learning-and-development-text,
.Coporate-Services-and-Advisories-text {
  padding: 32px;
  color: var(--clr-text-white);
}

.learning-and-development-heading,
.coporate-services-and-advisories-heading {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* border: 1px solid var(--clr-border); */
  background-color: var(--clr-background-white);
  color: #a9ce4d;
  font-weight: bold;
}

/* .service1 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./assets/learning.webp") center 20px / cover no-repeat;
}

.service2 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./assets/advisory.webp") center 50px / cover no-repeat;
} */

.our-clients-container {
  width: 100%;
  min-height: 1000px;
  max-width: 1500px;
  /* margin-top: 30px; */
  display: flex;
  color: var(--clr-text-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/our-clients-image.jpg") center 100px / cover fixed no-repeat;
}

.our-clients-heading {
  font-size: 45px;
  font-weight: bold;
  color: var(--clr-text-white);
  text-transform: uppercase;
}

.clients-logos-container {
  width: 100%;
  /* min-height: 25%; */
  max-width: 1500px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.our-clients-text {
  width: 95%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.clients-logos-center {
  width: 95%;
  min-height: 250px;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 100px;
}

.client-logo-translate-container1 {
  width: 100%;
  min-height: 200px;
  max-width: 1500px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  animation: clientLogoAnimate1 15s linear infinite;
}

.client-logo-translate-container2 {
  width: 100%;
  min-height: 200px;
  max-width: 1500px;
  /* margin-left: 100px; */
  /* padding-left: 100px; */
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  transform: translateX(100%);
  animation: clientLogoAnimate2 15s linear infinite;
}

.client-logo {
  width: 15%;
  height: auto;
  /* background-color: var(--clr-background-white); */
}

.logo5 {
  width: 0%;
}

.borno-state-government,
.food-ratata,
.sooyah-bistro,
.student {
  width: 100%;
  height: auto;
}

.testimonial-container {
  width: 100%;
  min-height: 1000px;
  max-width: 1500px;
  /* margin-top: 30px; */
  display: flex;
  /* color: var(--clr-text-white); */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.801), rgba(255, 255, 255, 0.801), */
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
}

.testimonial-text {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 50px;
}

.testimonial-heading {
  color: #cfd2cd;
  font-size: 120px;
}

.testimonial-statements {
  width: 95%;
  max-width: 1500px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.statement {
  width: 32%;
  min-height: 450px;
  font-size: 12px;
  /* text-align: justify; */
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 13px 6px 41px -14px rgba(68, 154, 4, 1);
}

.statement-paragraph {
  quotes: "\201C""\201D";
  position: relative;
  &::before {
    content: open-quote;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 32px;
    position: absolute;
    top: -30px;
    left: 0;
  }
  &::after {
    content: close-quote;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 32px;
    position: absolute;
    bottom: -35px;
    right: 70px;
  }
}

.testimony-giver-name {
  font-weight: bold;
}

.accreditations-and-memberships-container {
  width: 100%;
  min-height: 1000px;
  max-width: 1500px;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/accreditation-image.jpg") center 100px / cover fixed no-repeat;
}

.accreditations-and-memberships-heading {
  font-size: 45px;
  font-weight: bold;
  color: var(--clr-text-white);
  text-transform: uppercase;
}

.memberships-logos-container {
  width: 100%;
  max-width: 1500px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.memberships-logos-center {
  width: 95%;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-logo {
  width: 23%;
  background-color: red;
}

.ican,
.citn,
.icsan {
  width: 100%;
  height: auto;
  display: block;
}

/* .citn {
  width: 23%;
} */

.accreditations-and-memberships-text {
  width: 95%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: var(--clr-text-white);
}

.calendar-download-container {
  width: 100%;
  min-height: 400px;
  max-width: 1500px;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learning-journey {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-section-container {
  width: 100%;
  min-height: 500px;
  max-width: 1500px;
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-section-slider-container {
  width: 100%;
  min-height: 500px;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.g-section-image {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.g-section-image1 {
  transform: translateX(0);
}

.g-section-image2 {
  transform: translateX(100%);
}

.g-section-image3 {
  transform: translateX(200%);
}

.g-section-image4 {
  transform: translateX(300%);
}

.g-section-image5 {
  transform: translateX(400%);
}

.g-section-image6 {
  transform: translateX(500%);
}

.g-section-image7 {
  transform: translateX(600%);
}

.g-section-image8 {
  transform: translateX(700%);
}

.g-section-image9 {
  transform: translateX(800%);
}

.g-section-image10 {
  transform: translateX(900%);
}

.g-section-image11 {
  transform: translateX(1000%);
}

.g-section-image12 {
  transform: translateX(1100%);
}

.g-section-image13 {
  transform: translateX(1200%);
}

.g-section-image14 {
  transform: translateX(1300%);
}

.g-section-image15 {
  transform: translateX(1400%);
}

.g-section-image16 {
  transform: translateX(1500%);
}

.g-section-image17 {
  transform: translateX(1600%);
}

.g-section-image18 {
  transform: translateX(1700%);
}

.g-section-image19 {
  transform: translateX(1800%);
}

.g-section-image20 {
  transform: translateX(1900%);
}

.g-section-right-arrow {
  position: absolute;
  top: 50%;
  right: 2%;
}

.g-section-left-arrow {
  position: absolute;
  top: 50%;
  left: 2%;
}

.g-section-num-stat-container {
  width: 5%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g-section-num-stat.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-button {
  margin-top: 30px;
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #a9ce4d;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.download-link {
  text-decoration: none;
  color: var(--clr-text-white);
  font-weight: bold;
}

/* ===================== */
/* End of Landing Page */

/* About Page */
/* ============================== */
.about-page {
  width: 100%;
  max-width: 1500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/green-tile3.webp") center / cover no-repeat;
}

.about-page-center {
  width: 70%;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-us-paragraph {
  text-align: justify;
  margin: 20px 0;
}

.p2 {
  margin: 0 20px 0 0;
}

.about-us-heading {
  color: #a9ce4d;
  font-weight: 800;
}
/* ===================== */
/* End of About Page */

/* Learning and Development Page */
/* ============================== */
.learning-and-development-page {
  width: 100%;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("./assets/green-tile3.webp") center / cover no-repeat;
}

.learning-and-development-page-center {
  width: 70%;
  min-height: 400px;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learning-heading {
  color: #a9ce4d;
  font-weight: 800;
}

.learning-items-container {
  margin-top: 20px;
}
/* ===================== */
/* End of Learning and Development Page */

/* Corporate and Advisory Page */
/* ============================== */
.corporate-and-advisory-page {
  width: 100%;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("./assets/green-tile3.webp") center center / cover no-repeat;
}

.corporate-and-advisory-page-center {
  width: 70%;
  min-height: 400px;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corporate-heading {
  color: #a9ce4d;
  font-weight: 800;
}

.corporate-items-container {
  margin-top: 20px;
}
/* ===================== */
/* End of Corporate and Advisory Page */

/* Management Team Page */
/* ============================== */
.management-team-page {
  width: 100%;
  max-width: 1500px;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("./assets/testimonial-background.jpg") center / cover
    no-repeat;
}

.management-team-page-center {
  width: 95%;
  min-height: 300px;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 28%;
  min-height: 250px;
  background-color: var(--clr-background-white);
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid hsl(0, 100%, 100%);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #bfdb78;
}

.picture {
  width: 95%;
  height: 50%;
}

.photo {
  width: 100%;
  height: auto;
}

.one {
  margin-top: 30px;
}

.name-title {
  font-size: 12px;
}

.name,
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================== */
/* End of Management Team Page */

/* Contact Page */
/* ============================== */
.contact-page {
  width: 100%;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("./assets/green-tile3.webp") center center / cover no-repeat;
}

.contact-page-center {
  width: 70%;
  min-height: 400px;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ===================== */
/* End of Contact Page */

/* Footer */
/* ============================== */

footer {
  width: 100%;
  min-height: 100px;
  max-width: 1500px;
  /* margin-top: 30px; */
  color: var(--clr-text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--clr-background-black); */
  background-color: #1f4403;
}

.footer-center {
  width: 95%;
  min-height: 100px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.footer-list-container {
  width: 100%;
  min-height: 300px;
  max-width: 1450px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 50px;
  /* gap: 20px; */
}

.logo-and-contact-container {
  width: 30%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo {
  width: 40%;
  min-height: 50px;
  /* background-color: var(--clr-background-white); */
}

.footer-midas-logo {
  width: 100%;
  height: auto;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.company-details-container {
  min-height: 258.833px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.company-details-container a {
  color: white;
  text-decoration: none;
}

.company-details-container h3 {
  color: #a9ce4d;
  font-weight: bold;
}

.connect-with-us-container {
  min-height: 258.833px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.connect-with-us-container h3 {
  color: #a9ce4d;
  font-weight: bold;
}

.copyright-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  width: 95%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================== */
/* End of Footer */

/******END OF HOME PAGE******/

@keyframes clientLogoAnimate1 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes clientLogoAnimate2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 900px) {
  .page-link {
    font-size: small;
  }

  .links-bar {
    width: 60%;
  }

  .slider-heading,
  .slider-sub-heading {
    width: 60%;
  }

  .global-presence-container {
    width: 80%;
  }

  .global,
  .presence {
    font-size: 50px;
  }

  .globe-image {
    width: 50px;
    height: 50px;
  }

  .services-list {
    flex-direction: column;
  }

  .service {
    width: 500px;
  }

  .accreditations-and-memberships-heading {
    font-size: 30px;
  }

  .services-heading {
    font-size: 30px;
  }

  .testimonial-statements {
    flex-direction: column;
  }

  .testimonial-heading {
    font-size: 60px;
  }
  .testimonial-text {
    font-size: 40px;
  }

  .statement {
    width: 70%;
  }

  .dropdown-menu {
    top: 18px;
  }

  .footer-list-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .company-details-container {
    padding-top: 30px;
  }

  .logo-and-contact-container {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .footer-contact {
    font-size: 14px;
  }

  .about-us-paragraph {
    text-align: left;
    margin: 20px 0;
  }

  .name-title {
    font-size: 8px;
  }
}

@media screen and (max-width: 530px) {
  .service {
    width: 300px;
  }

  .global-presence-container {
    flex-direction: column;
  }

  .global,
  .presence {
    font-size: 40px;
  }

  .presence {
    margin-top: -40px;
  }

  .globe-image {
    width: 40px;
    height: 40px;
  }

  .links-bar {
    width: 250px;
  }

  .accreditations-and-memberships-heading {
    font-size: 24px;
  }

  .services-heading {
    font-size: 24px;
  }

  .about-us-paragraph {
    text-align: left;
    margin: 20px 0;
  }
  .testimonial-heading {
    font-size: 60px;
  }
  .testimonial-text {
    font-size: 40px;
  }
  .statement {
    width: 350px;
  }
  .service-empower-paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 402px) {
  .links-bar {
    display: none;
  }

  .justify-icon {
    display: block;
  }

  .global-presence-container {
    width: 100%;
  }

  .global,
  .presence {
    font-size: 30px;
  }

  .globe-image {
    width: 30px;
    height: 30px;
  }

  .service {
    width: 200px;
    text-align: left;
  }

  .accreditations-and-memberships-heading {
    font-size: 16px;
  }

  .services-heading {
    font-size: 19px;
  }

  .learning-journey {
    font-size: 14px;
    text-align: center;
  }

  .logo-links-center {
    width: 85%;
  }

  .about-us-paragraph {
    text-align: left;
    margin: 20px 0;
  }
}

@media screen and (max-width: 360px) {
  html,
  body {
    overflow-x: hidden;
  }
  .navbar {
    max-width: 360px;
  }
  header {
    height: 100px;
  }
  .midas-logo-container {
    width: 25%;
    height: 95%;
  }
  .justify-icon {
    width: 12%;
    height: 95%;
  }
  .slider-top-heading {
    font-size: 24px;
  }
  .slider-heading {
    font-size: 20px;
  }
  .top-address-contact > span {
    font-size: 10px;
  }
  .service {
    width: 320px;
    text-align: left;
  }
  .service-empower-heading {
    font-size: 19px;
  }
  .service-empower-paragraph {
    font-size: 12px;
  }
  .testimonial-heading {
    font-size: 45px;
  }
  .testimonial-text {
    font-size: 35px;
  }
  .statement {
    width: 320px;
  }
  .footer-logo {
    width: 70%;
    min-height: 50px;
    /* background-color: var(--clr-background-white); */
  }
  .copyright {
    font-size: 11px;
  }
  .learning-journey {
    font-size: 14px;
    text-align: center;
  }
  .gallery-section-container img {
    height: 250px;
  }
  .g-section-num-stat-container {
    margin-top: -100px;
    width: 18%;
  }
}
