/* CSS Reset */
/* ================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
body,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  line-height: 1.5;

  /* colors */
  --clr-background-white: hsl(0, 100%, 100%);
  --clr-button-blue: #4333ff;
  --clr-button-red: #ff3333;
  --clr-text-black: #041329;
  --clr-text-white: hsl(0, 100%, 100%);
  --clr-background-black: hsl(0, 100%, 0%);
  --clr-border: #e5e5e5;

  /* padding */
  --padding-button-top-bottom: 8px;
  --padding-button-left-right: 16px;
}

html {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 1.15; */
}

body {
  width: 100%;
  min-height: 686px;
  background-color: var(--clr-background-white);
  color: var(--clr-paragraph-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  min-height: 686px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===================== */
/* End of CSS Reset */

/****** HONE PAGE******/
/* Header */
/* ===================== */

header {
  width: 100%;
  /* position: fixed; */
  height: 112.7px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-page {
  width: 100%;
  min-height: 686px;
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 10; */
  width: 100%;
  background-color: var(--clr-background-white);
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
}

.logo-links-center {
  width: 97%;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.midas-logo-container {
  width: 12%;
  height: 95%;
}

.midas-logo {
  display: block;
  width: 100%;
  height: auto;
}

.search-bar {
  width: 14%;
  display: flex;
  border: 3px solid var(--clr-border);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.search-term {
  width: 90%;
  outline: none;
  border: none;
}

.links-bar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 80px; */
}

.page-link {
  text-decoration: none;
  color: var(--clr-text-black);
}

.justify-icon {
  display: none;
}
/* ===================== */
/* End of Header */

/* Main */
/* ============================== */

.landing-page {
  width: 100%;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1450px;
  height: 500px;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
  /* background: url(./assets/city-photo2.jpg) center/cover; */
}

.image1 {
  transform: translateX(0);
}

.image2 {
  transform: translateX(100%);
}

.image3 {
  transform: translateX(200%);
}

/* .city-photo {
  width: 100%;
  height: auto;
  position: absolute;
} */

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #041329;
  opacity: 0.45;
  /* z-index: 100; */
}

.text-button-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  color: var(--clr-text-white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.slider-heading {
  width: 40%;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.slider-sub-heading {
  width: 30%;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.slider-button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #a9ce4d;
  color: var(--clr-text-black);
  font-weight: 600;
  padding: var(--padding-button-top-bottom) var(--padding-button-left-right);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2%;
}

.global-presence-container {
  width: 60%;
  max-width: 1450px;
  min-height: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(319px, 1fr));
  gap: 0px; */
  /* align-items: center;
  justify-content: center; */
  font-size: 70px;
}

.global,
.presence {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .global {
  margin-right: -10px;
} */

/* .presence {
  margin-left: -10px;
} */

.global-presence-text-container {
  width: 100%;
  max-width: 1450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-presence-text {
  width: 95%;
  text-align: justify;
}

.services-container {
  width: 100%;
  max-width: 1450px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-heading {
  font-size: 55px;
  font-weight: 500;
}

.services-list {
  width: 95%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.services-paragraph {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.service {
  width: 600px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  border: 1px solid var(--clr-border);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 16px;
  background-color: var(--clr-border);
  box-shadow: 0 0 10px 2px #e5e5e5;
}

.service-button {
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #a9ce4d;
  font-weight: bold;
  cursor: pointer;
}

.learning-and-development-text,
.Coporate-Services-and-Advisories-text {
  padding: 32px;
}

.learning-and-development-heading,
.coporate-services-and-advisories-heading {
  width: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* border: 1px solid var(--clr-border); */
  background-color: var(--clr-background-white);
}

.accreditations-and-memberships-container {
  width: 100%;
  min-height: 1000px;
  max-width: 1450px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.801),
      rgba(255, 255, 255, 0.801)
    ),
    url("./assets/membership2-pic.jpg") center 100px / cover fixed no-repeat;
}

.accreditations-and-memberships-heading {
  font-size: 55px;
  font-weight: 500;
}

.memberships-logos-container {
  width: 100%;
  max-width: 1450px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logos-center {
  width: 97%;
  max-width: 1500px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-logo {
  width: 15%;
  background-color: var(--clr-background-white);
}

.ican,
.citn,
.cima {
  width: 100%;
}

/* ===================== */
/* End of Main */

/* Footer */
/* ============================== */

footer {
  width: 100%;
  min-height: 100px;
  margin-top: 30px;
  color: var(--clr-text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-background-black);
}
/* ===================== */
/* End of Footer */

/******END OF HONE PAGE******/

@media screen and (max-width: 765px) {
  .page-link {
    font-size: small;
  }

  .links-bar {
    width: 60%;
  }

  .slider-heading,
  .slider-sub-heading {
    width: 60%;
  }

  .global-presence-container {
    width: 80%;
  }

  .global,
  .presence {
    font-size: 50px;
  }

  .globe-image {
    width: 50px;
    height: 50px;
  }

  .services-list {
    flex-direction: column;
  }

  .service {
    width: 500px;
  }
}

@media screen and (max-width: 530px) {
  .service {
    width: 300px;
  }

  .global-presence-container {
    flex-direction: column;
  }

  .global,
  .presence {
    font-size: 40px;
  }

  .presence {
    margin-top: -40px;
  }

  .globe-image {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 402px) {
  .links-bar {
    display: none;
  }

  .justify-icon {
    display: block;
  }

  .global-presence-container {
    width: 100%;
  }

  .global,
  .presence {
    font-size: 30px;
  }

  .globe-image {
    width: 30px;
    height: 30px;
  }

  .service {
    width: 200px;
    text-align: left;
  }
}
